button {
  transform: scale(1);
  background-color: var(--light-purple);
  color: var(--text-color);
  border-radius: 15px;
  border-style: hidden;
  height: 110px;
  font-size: 40px;
  transition: transform ease 0.1s, background-color ease 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
button:active:not(:disabled) {
  transform: scale(0.9);
}

button.clicked {
  background-color: var(--green);
}
button:disabled {
  cursor: not-allowed;
}
button:hover:not(.clicked) {
  background-color: var(--middle-purple);
}
button:hover:disabled {
  background-color: var(--middle-purple);
}
