.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
  position: sticky;
  top: 0;
  background: repeating-linear-gradient(
    90deg,
    rgb(30, 17, 37),
    rgb(49, 23, 73)
  );
  z-index: 1000;
}

.logo {
  width: 100px;
  height: auto;
}

.title {
  font-size: clamp(40px, 10vw, 100px);
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  color: white;
  margin: 0;
}

button {
  transform: scale(1);
  background-color: blueviolet;
  color: white;
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  border-radius: 15px;
  border-style: hidden;
  height: 110px;
  font-size: 40px;
  transition: transform ease 0.1s, background-color ease 0.2s;
}
button:active:not(:disabled) {
  transform: scale(0.9);
}

button.clicked {
  background-color: rgb(43, 226, 83);
}
button:disabled {
  cursor: not-allowed;
}
button:hover:not(.clicked, :disabled) {
  background-color: rgb(77, 38, 114);
}
