.header-container {
  display: flex;
  align-items: center; /* Align logo and title vertically */
  justify-content: center; /* Center the content horizontally */
  gap: 20px; /* Space between the logo and title */
  flex-wrap: wrap; /* Allow wrapping for small screens */
  text-align: center; /* Center the text when stacked */
}

.logo {
  width: 100px; /* Fixed size for the logo */
  height: auto; /* Maintain aspect ratio */
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(
    40px,
    10vw,
    100px
  ); /* Dynamically resize title based on viewport width */
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  color: white;
  margin: 0;
}

button {
  transform: scale(1);
  background-color: blueviolet;
  color: white;
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  border-radius: 15px;
  border-style: hidden;
  height: 110px;
  font-size: 40px;
  transition: transform ease 0.1s, background-color ease 0.2s;
}
button:active:not(:disabled) {
  transform: scale(0.9);
}

button.clicked {
  background-color: rgb(43, 226, 83);
}
button:disabled {
  cursor: not-allowed;
}
button:hover:not(.clicked, :disabled) {
  background-color: rgb(77, 38, 114);
}
