.icons {
  width: 100px;
  height: auto;
}
button {
  background-color: blueviolet;
  color: white;
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  border-radius: 15px;
  border-style: solid;
  transition: transform 0.1s ease;
  height: 110px;
  font-size: 40px;
}
button:active {
  transform: scale(0.9);
}
button.clicked {
  background-color: rgb(43, 226, 83);
}
button:disabled {
  cursor: not-allowed;
}
h1 {
  color: white;
  font-family: Roboto, Arial, sans-serif;
  font-size: 100px;
  font-weight: 500;
}
.header-container {
  display: flex;
  align-items: center; /* Align logo and title vertically */
  justify-content: center; /* Center the content horizontally */
  gap: 20px; /* Space between the logo and title */
  flex-wrap: wrap; /* Allow wrapping for small screens */
  text-align: center; /* Center the text when stacked */
}

.logo {
  width: 100px; /* Fixed size for the logo */
  height: auto; /* Maintain aspect ratio */
}

.title {
  font-size: clamp(
    35px,
    5vw,
    100px
  ); /* Dynamically resize title based on viewport width */
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  color: white;
  margin: 0;
}
