.page {
  font-size: clamp(40px, 5vw, 60px);
}
.login-text {
  margin: 14px;
}

.login-inputfield {
  font-size: clamp(20px, 5vw, 30px);
  height: 80px;
  width: 100%;
  margin: 0;
  margin-bottom: 14px;
}
.login-inputfield::placeholder {
  color: var(--grey);
  font-size: clamp(20px, 5vw, 30px);
}
.submit-button {
  font-size: clamp(20px, 5vw, 30px);
  background-color: transparent !important;
  height: 60px;
  display: flex;
  justify-self: center;
}
.submit-button:hover {
  background-color: transparent !important;
}
.submit-button:active {
  color: var(--grey);
}
.sign-in-buttons {
  height: 80px !important;
  background-color: var(--text-color) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease 0.2s;
}
.sign-in-buttons:hover {
  rotate: 3deg;
  transform: scale(1.1);
}
.sign-in-button-row {
  display: flex;
  justify-content: space-between;
  margin-right: 0px;
  margin-left: 0px;
}

.sign-in-icons {
  width: 50px;
  height: auto;
}
.or-text {
  font-size: 25px;
  color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
}
.guest-button {
  font-size: clamp(20px, 5vw, 30px);
  height: 80px !important;
  margin: 14px;
  background-color: var(--green);
}
.guest-button:hover:not(.clicked, :disabled) {
  background-color: var(--green);
}
