.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 0;
  top: 0;
  background: var(--bg-fade);
  /*
  background: blueviolet;
  margin-bottom: 14px;
  */
  z-index: 1000;
  flex-wrap: nowrap;
}

.logo {
  width: clamp(60px, 10vw, 90px);
  height: auto;
  padding: 0;
  margin: 0;
}

.title {
  font-size: clamp(30px, 10vw, 80px);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  margin-left: 14px;
}
@media (max-width: 1200px) {
  .title {
    display: none;
  }
}

.leftSection {
  display: flex;
  align-items: center;
}
.logoLink {
  display: flex;
  align-items: center;
}
.link {
  text-decoration: none;
}
.rightSection {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.user {
  height: clamp(35px, 5vw, 50px);
  width: auto;
  padding-left: 2vw;
}
.rightNavButtons {
  height: clamp(50px, 5vw, 60px);
  font-size: clamp(20px, 5vw, 30px);
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: transparent;
}
