.skipButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 226, 83);
  height: 80px;
}
.skipButton:hover:not(.clicked, :disabled) {
  background-color: rgb(43, 226, 83);
}

.homeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.retryButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.home {
  width: 40px;
}
.skip {
  width: 40px;
}
.retry {
  width: 40px;
}

.page {
  font-family: Roboto, Arial, sans-serif;
  font-size: 100px;
  color: white;
  background-color: blueviolet;
  font-weight: 500;
  border-radius: 15px;
  border-style: solid;
  border-color: transparent;
  align-items: center; /* Align logo and title vertically */
  justify-content: center;
  text-align: center;
}
.translation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: clamp(40px, 5vw, 100px);
}
.inputfield {
  font-size: clamp(40px, 5vw, 100px);
  width: 80%;
  height: 140px;
  border-radius: 15px;
  border-style: solid;
  border-color: white;
  border-width: 4px;
  color: white;
  background-color: transparent;
  text-align: center;
  transition: transform 0.08s ease;
  margin-bottom: 10px;
}
.inputfield:focus {
  outline: transparent;
}
.inputfield:active {
  transform: scale(0.98);
}

::placeholder {
  color: rgb(179, 179, 179);
  font-size: clamp(40px, 5vw, 100px);
}
.progressNumber {
  display: flex;
  font-size: clamp(30px, 5vw, 40px);
  justify-content: end;
}
.progress {
  height: 30px;
  font-size: 30px;
  border-radius: 15px;
}
.fire {
  margin-left: 10px;
  height: clamp(45px, 10vw, 60px);
}
.score {
  font-size: clamp(45px, 10vw, 60px) !important;
}

.wordCard {
  background-color: rgb(77, 38, 114);
  border-radius: 15px;
}
.wordCardRow {
  margin-bottom: 12px;
}
.wordCardNumber {
  display: flex;
  font-size: clamp(30px, 5vw, 35px);
  justify-content: end;
  align-items: center;
}
.wordCardTime {
  display: flex;
  font-size: clamp(30px, 5vw, 35px);
  justify-content: start;
  align-items: center;
}
.time {
  height: clamp(26px, 5vw, 32px);
  width: auto;
  margin-right: 6px;
}
.wordCardScore {
  display: flex;
  font-size: clamp(30px, 5vw, 35px);
  justify-content: center;
  align-items: center;
}
.icons {
  height: clamp(55px, 10vw, 70px);

  width: auto;
}
.wordCardWords {
  display: flex;
  font-size: clamp(45px, 10vw, 60px);
  justify-content: center;
  align-items: center;
}
